<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    chat
    <input type="number" id="id" value="1" min="1">
    <button id="bt-0">0</button>
    <button id="bt-1">1</button>
    <button id="bt-2">2</button>
    <p></p>
    <button id="view">Visualizar</button>
    <button id="save">Salvar</button>
    <button id="delete">Excluir</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>